/* Footer */

.contenedor3{
    height: 100px;
    width: auto;
    margin: 10px;
    text-align: center;
    background-size:cover;
    background-color:#000000;
    }
    
    
    
.footer_link{
color: #ffffff;
}

.footer_text{
color: #ffffff;
}